<%- include('./includes/head.ejs') %> 


<%- include('./includes/nav.ejs') %> 

  
    <h1>this is the add flight page</h1>
    <p>Welcome to <%= title %></p>

    <a href="/single-flight/2" class="btn btn-primary"> details</a>


    <%- include('./includes/footer.ejs') %> 